<!doctype html>
<html>
<head>
    <title>Gin-File</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1, shrink-to-fit=no" />
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans" rel="stylesheet">
    <link href="stylesheets/style.css" rel="stylesheet" />
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #99ffd6;">
    <a class="navbar-brand" href="#">GinFile</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="/login">Login</a>
            <a class="nav-item nav-link" href="#">Registry</a>
            <a class="nav-item nav-link" href="#">Profile</a>
            <a class="nav-item nav-link disabled invisible" href="#">Logout</a>
        </div>
    </div>
</nav>
<div class="container">
    <div class="alert alert-warning role-file" role="alert">
        Your file size must be smaller than 50Mb to upload
    </div>
    <div id="upload-form" class="row">
        <div class="col-md-4"></div>
        <form class="col-md-4" action="upload" method="post" enctype="multipart/form-data">
            <span class="btn btn-outline-primary btn-default btn-file">Tap to choose your file
                <input type="file" name="files">
            </span>
            <button type="submit" class="btn btn-secondary">Upload</button>
        </form>
    </div>
    <!-- Content here -->
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">File Name</th>
            <th scope="col">Uploader</th>
            <th scope="col">Date</th>
            <th scope="col">Size(Kb)</th>
        </tr>
        </thead>
        <tbody>
        <%
            for(i=data.length-1;i>=0;i--)
            {
            %>
                <tr>
                <th scope="row"><%=data.length-i%></th>
                    <td>
                        <a href="download/<%=data[i].name%>"><%=data[i].name%></a>
                    </td>
                    <td><%=data[i].uploader='N/a'%></td>
                    <td><%=((new Date(data[i].client_modified)).toUTCString())%></td>
                    <td><%=Math.round(data[i].size/1024)%></td>
                </tr>
            <%
            }
        %>
        </tbody>
    </table>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</body>
</html>

